###########################################################
#                    VISUAL STUDIO                        #
###########################################################

.vs/
.vsconfig

###########################################################
#                  COMPILED FILES                         #
###########################################################

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

###########################################################
#                GENERATED PROJECT FILES                  #
###########################################################

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

###########################################################
#                  JETBRAINS RIDER                        #
###########################################################

.idea/
*.sln.iml

###########################################################
#                 UNREAL ENGINE BUILDS                    #
###########################################################

Binaries/
Plugins/*/Binaries/

Build/

# Keep PakBlacklist files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Keep application icons
!Build/**/*.ico

###########################################################
#                UNREAL ENGINE GENERATED                  #
###########################################################

Saved/
Intermediate/
Plugins/*/Intermediate/
DerivedDataCache/

###########################################################
#                   UNREAL ENGINE ASSETS                  #
###########################################################

*_BuiltData.uasset

###########################################################
#                    PLATFORM FILES                       #
###########################################################

Platforms/HoloLens/Config/HoloLensEngine.ini
Config/steamvr_ue_editor_app.json
Config/SteamVRBindings

###########################################################
#                  DEVELOPER PLUGINS                      #
###########################################################

Plugins/Developer/

###########################################################
#                     BUILD OUTPUTS                       #
###########################################################

Builds/